<% error_messages = @user.errors.full_messages %>
<% if error_messages.length > 0 %>
  <div class="row">
    <div class="col-md-12 text-danger">
      <span>The following errors were found</span>
      <ul>
        <% error_messages.each do |error_message| %>
          <li><%= error_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <hr>
<% end %>
<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <span>Salutation<sup class="text-danger">*</sup></span>
      <%= f.select :salutation, User::SALUTATIONS.map{ |v| ["#{v}.", v] }, { include_blank: true }, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <span>First Name<sup class="text-danger">*</sup></span>
          <%= f.text_field :first_name, class: 'form-control', required: true, maxlength: 24 %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <span>Middle Name</span>
          <%= f.text_field :middle_name, class: 'form-control', maxlength: 24 %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <span>Last Name<sup class="text-danger">*</sup></span>
          <%= f.text_field :last_name, class: 'form-control', required: true, maxlength: 24 %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <span>Gender<sup class="text-danger">*</sup></span>
      <%= f.select :gender, User::GENDERS.map{ |v| [v.titleize, v] }, { include_blank: true }, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <span>Birth Date<sup class="text-danger">*</sup></span>
          <%= f.text_field :birth_date, class: 'form-control', required: true, pattern: '[0-9]{2}/[0-9]{2}/[0-9]{4}', value: @user.birth_date&.strftime('%d/%m/%Y') %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <span>Mobile Number<sup class="text-danger">*</sup></span>
          <%= f.telephone_field :mobile_number, class: 'form-control', required: true, pattern: '[789][0-9]{9}' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <span>Email<sup class="text-danger">*</sup></span>
          <%= f.email_field :email, class: 'form-control', required: true %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <span>Designation</span>
      <%= f.text_field :designation, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <span>Employee ID</span>
      <%= f.text_field :employee_id, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <span>Licence Number</span>
      <%= f.text_field :licence_number, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <span>Facilities</span>
      <%= f.select :facility_ids, all_facilities.pluck(:name, :id), {}, class: 'form-control', multiple: true, required: true %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <span>Roles</span>
      <%= f.select :role_ids, Role.all.map { |role| [role.name.titleize, role.id] }, {}, class: 'form-control', multiple: true, required: true %>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <%= render partial: 'addresses/form.html.erb', locals: { f: f } %>
</div>

<script type="text/javascript">
  <%= render partial: 'form.js.erb' %>
</script>
