<hr>
<% @patients.each do |patient| %>
  <%= link_to patient_path(id: patient.id.to_s), remote: true, class: 'card mb-2 text-dark' do %>
    <div class="card-body">
      <div class="row">
        <div class="col-md-9">
          <strong><%= patient.full_name %></strong>
          <small>(<%= patient.display_age_short %>/<%= patient.gender&.titleize.first %>)</small><br>
          <span><%= patient.mobile_number %></span>
        </div>
        <div class="col-md-3 text-md-right">
          <span class="badge badge-info"><%= patient.display_id %></span><br>
          <% if patient.medical_record_number %>
            <span class="badge badge-success"><%= patient.medical_record_number %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% if @patients.count.zero? %>
  <div class="card mb-2">
    <div class="card-body">
      <div class="row text-center">
        <div class="col-md-12">
          <i>No Patients found</i>
        </div>
      </div>
    </div>
  </div>
<% end %>
