<!DOCTYPE html>
<html>
  <head>
    <title>Medicraft</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a class="btn btn-info skip-link" href="#main-content">Skip to main</a>

    <%= render partial: 'navbar.html.erb' if session[:user_id] %>

    <%= yield %>

    <%= render partial: 'modal.html.erb' if session[:user_id] %>
  </body>
</html>
